.inactive{
  cursor: pointer;
}
.active{
  cursor: pointer;
  background-color: rgb(203, 205, 221);
}
.offline{
  color:rgb(207, 1, 1);
}
.online{
  color: green;
}
.count{
  border-radius: 30px;
  padding: 4px;
  float: right;
  color: #075dff;
  font-weight: 500;
}
.id{
  background-color: #FF9800;
  position: absolute;
  margin-left: -17px;
  margin-top: -9px;
  border-radius: 4px 0;
}