.inactive{
  cursor: pointer;
}
.active{
  cursor: pointer;
  background-color: rgb(203, 205, 221);
}
.offline{
  color:rgb(207, 1, 1);
}
.online{
  color: green;
}
.count{
  border-radius: 30px;
  padding: 4px;
  float: right;
  color: #075dff;
  font-weight: 500;
}
