.inactive{
  cursor: pointer;
}
.active{
  cursor: pointer;
  background-color: rgb(203, 205, 221);
}
.count{
  float: right;
  margin: 8px 0 0 0;
  font-weight: 600;
}
.id{
  background-color: #FF9800;
  position: absolute;
  margin-left: -17px;
  margin-top: -9px;
  border-radius: 4px 0;
  font-size: 11px;
  padding: 0 2px;
  font-weight: 600;
}
.icon{
  margin: 0px 23px 0px 8px;
  display: inline-block;
}
.name{
  font-weight: 600;
}